In [1]:
from IPython.display import display
import pandas as pd

from src import akeneo

In [2]:
cache = akeneo.load_cache_from_env()

In [3]:
lists = [
    ("attribute-groups", cache.attribute_groups),
    ("attributes", cache.attributes),
    ("categories", cache.categories),
    ("channels", cache.channels),
    ("currencies", cache.currencies),
    ("families", cache.families),
    ("locales", cache.locales),
    ("measurements", cache.measurements),
    ("products", cache.products),
]

for name, data in lists:
    df = pd.DataFrame(data)
    print(f"--- {name} -------------------------------")
    display(df)

--- attribute-groups -------------------------------

,code,labels,sort_order,attributes
0,color,Color,8,"[main_color, secondary_color]"
1,design,Design,3,[tshirt_style]
2,ecommerce,Ecommerce,6,"[meta_title, meta_description, keywords]"
3,erp,ERP,1,"[sku, price, erp_name, ean, supplier]"
4,manufacturing,Manufacturing,6,"[container_material, tshirt_materials]"
5,marketing,Marketing,0,"[name, description, response_time, release_dat..."
6,medias,Media,9,"[picture, pdf_description, image, notice, vari..."
7,other,Other,10,[]
8,product,Product,4,"[composition, wash_temperature, care_instructi..."
9,size,Size,8,[clothing_size]
10,technical,Technical,2,"[weight, maximum_scan_size, color_scanning, po..."

--- attributes -------------------------------

,code,type,labels,localizable,scopable,unique,group,group_labels,sort_order,allowed_extensions,...,max_file_size,metric_family,minimum_input_length,negative_allowed,number_min,number_max,reference_data_name,validation_rule,validation_regexp,wysiwyg_enabled
0,auto_exposure,AttributeType.BOOL,Auto exposure,False,False,False,technical,Technical,39,[],...,None,None,None,None,None,None,None,None,None,None
1,auto_focus_assist_beam,AttributeType.BOOL,Auto focus beam,False,False,False,technical,Technical,34,[],...,None,None,None,None,None,None,None,None,None,None
2,auto_focus_lock,AttributeType.BOOL,Auto focus lock,False,False,False,technical,Technical,33,[],...,None,None,None,None,None,None,None,None,None,None
3,auto_focus_modes,AttributeType.TEXT,Auto focus modes,True,False,False,technical,Technical,31,[],...,None,None,None,None,None,None,None,None,None,None
4,auto_focus_points,AttributeType.NUMBER,Auto focus points,False,False,False,technical,Technical,32,[],...,None,None,None,False,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,variation_image,AttributeType.IMAGE,Variant picture,False,False,False,medias,Media,20,"[png, jpeg, jpg]",...,None,None,None,None,None,None,None,None,None,None
73,variation_name,AttributeType.TEXT,Variant Name,True,False,False,marketing,Marketing,4,[],...,None,None,None,None,None,None,None,None,None,None
74,viewing_area,AttributeType.METRIC,Effective viewing area,False,False,False,technical,Technical,20,[],...,None,Length,None,False,None,None,None,None,None,None
75,wash_temperature,AttributeType.SELECT_SINGLE,Wash temperature,False,False,False,product,Product,6,[],...,None,None,None,None,None,None,None,None,None,None
76,weight,AttributeType.METRIC,Weight,False,False,False,technical,Technical,1,[],...,None,Weight,None,False,None,None,None,None,None,None

--- categories -------------------------------

                     code              labels          parent
0                  master      Master catalog            None
1          tvs_projectors  TVs and projectors          master
2             pc_monitors         PC Monitors  tvs_projectors
3                 led_tvs             LED TVs  tvs_projectors
4                 cameras             Cameras          master
..                    ...                 ...             ...
163             suppliers           Suppliers            None
164        supplier_mongo               Mongo       suppliers
165         supplier_zaro                Zaro       suppliers
166  supplier_the_tootles         The Tootles       suppliers
167       supplier_abibas              Abibas       suppliers

[168 rows x 3 columns]

--- channels -------------------------------

,code,labels,category_tree,conversion_units,currencies,locales
0,ecommerce,Ecommerce,master,{},"[USD, EUR]","[de_DE, en_US, fr_FR]"
1,mobile,Mobile,master,{},"[USD, EUR]","[de_DE, en_US, fr_FR]"
2,print,Print,master,{},"[USD, EUR]","[de_DE, en_US, fr_FR]"

--- currencies -------------------------------

    code  enabled
0    ADP    False
1    AED    False
2    AFA    False
3    AFN    False
4    ALK    False
..   ...      ...
289  ZRN    False
290  ZRZ    False
291  ZWD    False
292  ZWL    False
293  ZWR    False

[294 rows x 2 columns]

--- families -------------------------------

,code,labels,attributes
0,accessories,Accessories,"[brand, collection, color, composition, descri..."
1,camcorders,Camcorders,"[description, image_stabilizer, name, optical_..."
2,clothing,Clothing,"[brand, care_instructions, collection, color, ..."
3,digital_cameras,Digital cameras,"[auto_exposure, auto_focus_assist_beam, auto_f..."
4,headphones,Headphones,"[description, headphone_connectivity, name, pi..."
5,laser_led_printers,Laser and LED printers,"[description, maximum_print_size, name, pictur..."
6,led_tvs,LED TVs,"[description, display_diagonal, name, picture,..."
7,loudspeakers,Loudspeakers,"[description, name, picture, power_requirement..."
8,mp3_players,MP3 players,"[description, name, picture, power_requirement..."
9,mugs,Mugs,"[container_material, description, main_color, ..."
10,multifunctionals,Multifunctionals,"[color_scanning, description, maximum_print_si..."
11,pc_monitors,PC Monitors,"[description, display_color, display_diagonal,..."
12,scanners,Scanners,"[color_scanning, description, maximum_scan_siz..."
13,shoes,Shoes,"[brand, collection, color, composition, descri..."
14,tablets,Tablets,"[description, name, picture, power_requirement..."
15,tshirts,T-shirts,"[clothing_size, description, main_color, name,..."
16,webcams,Webcams,"[description, maximum_frame_rate, maximum_vide..."

--- locales -------------------------------

      code  enabled
0    af_ZA    False
1    am_ET    False
2    ar_AE    False
3    ar_BH    False
4    ar_DZ    False
..     ...      ...
205  zh_HK    False
206  zh_MO    False
207  zh_SG    False
208  zh_TW    False
209  zu_ZA    False

[210 rows x 2 columns]

--- measurements -------------------------------

,code,labels,standard_unit_code,units
0,Angle,Angle,RADIAN,"{'RADIAN': {'code': 'RADIAN', 'labels': 'Radia..."
1,Area,Area,SQUARE_METER,{'SQUARE_MILLIMETER': {'code': 'SQUARE_MILLIME...
2,Binary,Binary,BYTE,"{'CHAR': {'code': 'CHAR', 'labels': 'Char', 'c..."
3,Brightness,Brightness,LUMEN,"{'LUMEN': {'code': 'LUMEN', 'labels': 'Lumen',..."
4,Capacitance,Capacitance,FARAD,"{'ATTOFARAD': {'code': 'ATTOFARAD', 'labels': ..."
5,CaseBox,Packaging,PIECE,"{'PIECE': {'code': 'PIECE', 'labels': 'Piece',..."
6,Decibel,Decibel,DECIBEL,"{'DECIBEL': {'code': 'DECIBEL', 'labels': 'Dec..."
7,Duration,Duration,SECOND,"{'MILLISECOND': {'code': 'MILLISECOND', 'label..."
8,ElectricCharge,Electric charge,AMPEREHOUR,{'MILLIAMPEREHOUR': {'code': 'MILLIAMPEREHOUR'...
9,Energy,Energy,JOULE,"{'JOULE': {'code': 'JOULE', 'labels': 'joule',..."
10,Force,Force,NEWTON,"{'MILLINEWTON': {'code': 'MILLINEWTON', 'label..."
11,Frequency,Frequency,HERTZ,"{'HERTZ': {'code': 'HERTZ', 'labels': 'Hertz',..."
12,Intensity,Intensity,AMPERE,"{'MILLIAMPERE': {'code': 'MILLIAMPERE', 'label..."
13,Length,Length,METER,"{'MICROMETER': {'code': 'MICROMETER', 'labels'..."
14,Power,Power,WATT,"{'WATT': {'code': 'WATT', 'labels': 'Watt', 'c..."
15,Pressure,Pressure,BAR,"{'CENTIBAR': {'code': 'CENTIBAR', 'labels': 'C..."
16,Resistance,Resistence,OHM,"{'MILLIOHM': {'code': 'MILLIOHM', 'labels': 'M..."
17,Speed,Speed,METER_PER_SECOND,{'METER_PER_SECOND': {'code': 'METER_PER_SECON...
18,Temperature,Temperature,KELVIN,"{'CELSIUS': {'code': 'CELSIUS', 'labels': 'Cel..."
19,Voltage,Voltage,VOLT,"{'MILLIVOLT': {'code': 'MILLIVOLT', 'labels': ..."
20,Volume,Volume,CUBIC_METER,"{'MICROLITER': {'code': 'MICROLITER', 'labels'..."
21,VolumeFlow,Volume flow,CUBIC_METER_PER_SECOND,{'CUBIC_METER_PER_SECOND': {'code': 'CUBIC_MET...
22,Weight,Weight,KILOGRAM,"{'MICROGRAM': {'code': 'MICROGRAM', 'labels': ..."

--- products -------------------------------

,identifier,enabled,family,categories,groups,created,updated,parent,values
0,1111111171,True,accessories,"[master_accessories_bags, print_accessories, s...",[],2022-02-18 12:17:31+00:00,2022-02-18 12:17:32+00:00,None,"{'image': True, 'ean': True, 'name': True, 'we..."
1,13620748,True,led_tvs,"[led_tvs, samsung, tvs_projectors_sales]",[],2022-02-18 12:17:31+00:00,2022-02-18 12:17:32+00:00,None,"{'name': True, 'display_diagonal': True, 'desc..."
2,15554974,True,webcams,"[cameras_sales, logitech, webcams]",[],2022-02-18 12:17:31+00:00,2022-02-18 12:17:33+00:00,None,"{'maximum_video_resolution': True, 'name': Tru..."
3,12249740,True,scanners,"[avision, print_scan_sales, scanners]",[],2022-02-18 12:18:08+00:00,2022-02-18 12:18:09+00:00,None,"{'picture': True, 'name': True, 'description':..."
4,1111111130,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],2022-02-18 12:18:13+00:00,2022-02-18 12:18:14+00:00,apollon_yellow,"{'size': True, 'color': True, 'supplier': True..."
...,...,...,...,...,...,...,...,...,...
1234,1111111125,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],2022-02-18 12:18:08+00:00,2022-02-18 12:18:09+00:00,apollon_pink,"{'size': True, 'color': True, 'supplier': True..."
1235,1111111126,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],2022-02-18 12:18:08+00:00,2022-02-18 12:18:09+00:00,apollon_red,"{'size': True, 'color': True, 'supplier': True..."
1236,1111111127,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],2022-02-18 12:18:08+00:00,2022-02-18 12:18:09+00:00,apollon_red,"{'size': True, 'color': True, 'supplier': True..."
1237,1111111128,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],2022-02-18 12:18:08+00:00,2022-02-18 12:18:09+00:00,apollon_yellow,"{'size': True, 'color': True, 'supplier': True..."
1238,1111111129,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],2022-02-18 12:18:08+00:00,2022-02-18 12:18:09+00:00,apollon_yellow,"{'size': True, 'color': True, 'supplier': True..."